name: keypress_simulator
description: This plugin allows Flutter desktop apps to simulate key presses.
version: 0.2.0
homepage: https://github.com/leanflutter/keypress_simulator

platforms:
  macos:
  windows:

environment:
  sdk: ">=3.0.0 <4.0.0"
  flutter: ">=3.3.0"

dependencies:
  flutter:
    sdk: flutter
  keypress_simulator_macos: ^0.2.0
  keypress_simulator_platform_interface: ^0.2.0
  keypress_simulator_windows: ^0.2.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  mostly_reasonable_lints: ^0.1.1

flutter:
  plugin:
    platforms:
      macos:
        default_package: keypress_simulator_macos
      windows:
        default_package: keypress_simulator_windows

