name: keypress_simulator_platform_interface
description: A common platform interface for the keypress_simulator plugin.
version: 0.2.0
homepage: https://github.com/leanflutter/keypress_simulator/blob/main/packages/keypress_simulator_platform_interface

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: '>=3.3.0'

dependencies:
  collection: ^1.18.0
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.1.8
  uni_platform: ^0.1.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  mostly_reasonable_lints: ^0.1.1
